@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* var */
:root {
    --primary-color: #194699;
    --secondary-color: #EF2230;
    --black-color: #000000;
    --white-color: #ffffff;
    --sinza-color: #F1F1F1;
    --footer-color1: #101010;
    --footer-color2: #1A1A1A;
    --font-inter: "Inter", sans-serif;
    --font-size: 12pt;
    --font-size-btn: 10pt;
    --font-size-h1: 37pt;
    --font-size-h3: 32pt;
    --font-size-footer: 10pt;
}

/* general */
body {
    font-family: var(--font-inter);
}

a,li {
    text-decoration: none;
    list-style: none;
}

/* header nav */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.img-icon-logo {
    height: 60px;
} 

.header-div2 {
    background-color: var(--sinza-color);
    border-radius: 10px;
    font-size: var(--font-size);
}

.ul {
    display: flex;
}

.ul a {
    margin-right: 50px;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}

.ul a:hover {
    color: var(--secondary-color);
}

.ul .active {
    color: var(--secondary-color);
}

.header-div3 {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 15px 18px 15px 18px;
    border-radius: 10px;
    font-size: var(--font-size-btn);
    color: var(--white-color);
    font-weight: bold;
    transition: 0.1s;
    width: 100px;
}

.header-div3:hover {
    background-color: var(--secondary-color);
    transition: 0.1s;
}

.header-div3 span {
    margin-right: 10px;
} 

/* main section1 */
.section1 {
    margin-top: 20px;
}

.text-main {
    width: 380px;
    margin-left: 150px;
    margin-top: 160px;
}

.text-main h1 {
    font-size: var(--font-size-h1);
    color: var(--primary-color);
}

.text-main p {
    opacity: 80%;
    margin-bottom: 20px;
    font-size: var(--font-size);
}

.x-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: -1; 
    /* Garante que o fundo fique atrás do conteúdo */
}

/* main section2 */
.section2 {
    margin-top: 50px;
    padding: 30px;
}

.slide {
    display: flex;
    align-items: center;
    width: 100%;
}
.slide img {
    margin-right: 40px;
    height: 9vh;
}

/* main section3 */
/* .section3 {
    
} */

.sub-title {
    text-align: center;
    margin-top: 70px;
}

.sub-title h2 {
    color: var(--secondary-color);
}

.sub-title .bus {
    width: 140px;
    height: 2px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    margin: auto;
}

.service {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.illustration {
    width: 400px;
    height: 400px;
}

.text-service {
    width: 310px;
    margin-left: 70px;
}

.text-service h3 {
    font-size: var(--font-size-h3);
    color: var(--primary-color);
    margin-top: -30px;
}

.text-service p {
    opacity: 80%;
    font-size: var(--font-size);
    color: #000000;
    margin-top: -25px;
}

.service1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sinza-color);
    padding-top: 40px;
    padding-bottom: 40px;
}

.service1 .illustration1 {
    margin-left: 70px;
    width: 400px;
    height: 400px;
}

.service1 .text-service1 {
    width: 310px;
}

.text-service1 h3 {
    font-size: var(--font-size-h3);
    color: var(--secondary-color);
    margin-top: -30px;
}

.text-service1 p {
    opacity: 80%;
    font-size: var(--font-size);
    color: #000000;
    margin-top: -25px;
}

/* main section4 */
/* .section4 {
   
} */

.x-img2 {
    position: absolute;
    left: 0;
    width: 100%; 
    z-index: -1; 
    /* Garante que o fundo fique atrás do conteúdo */
}

.section4 .sub-title {
    text-align: center;
    margin-top: 70px;
}

.section4 .sub-title h2 {
    color: var(--white-color);
    padding-top: 90px;
}

.section4 .sub-title .bus {
    width: 140px;
    height: 2px;
    background-color: var(--white-color);
    border-radius: 2px;
    margin: auto;
}

.section4 .text-inf {
    width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    line-height: 1.5;
}

.section4 div p {
    color: var(--white-color);
}

.section4 .img-inf {
    margin-top: 70px;
    text-align: center;
}

/* main section5 */
/* .section5 {
    
} */

.box-clients {
    background: var(--white-color);
    margin-top: 140px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    border: solid 1px rgba(0, 0, 0, 0.4);
}

.box-clients .sub-title {
    padding-bottom: 70px;
}

.box-clients .sub-title p {
    opacity: 40%;
}

.box-clients .img-clients {
    width: 80vw;
    margin: auto;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box-clients .img-clients .img-clients-itens {
    padding: 20px;
    margin: auto;
    height: 12vh;
}

/* main section6 */
/* .section6 {
    
} */

.contact {
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
}

.contact .form {
    width: 640px;
}

.contact .form input {
    margin: 0px 20px 20px 0px;
    width: 240px;
    border-radius: 10px;
    background-color: var(--sinza-color);
    box-shadow: 0px 2.3x 4.6px 0px rgba(0, 0, 0, 0.4);
    color: var(--black-color);
    padding: 20px;
    border-style: none;
}

.contact .form textarea {
    width: 545px;
    border-radius: 10px;
    background-color: var(--sinza-color);    
    box-shadow: 0px 2.3x 4.6px 0px rgba(2, 1, 1, 0.4);
    padding: 20px;
    border-style: none;
    resize: none;
    color: rgba(0, 0, 0, 0.4);
}

.contact .form .btn-enviar {
    background-color: var(--primary-color);
    padding: 13px 25px 13px 25px;
    border-radius: 10px;
    font-size: var(--font-size-btn);
    color: var(--white-color);
    font-weight: bold;
    transition: 0.1s;
    border-style: none;
    cursor: pointer;
    margin-top: 20px;
}

.contact .form .btn-enviar:hover {
    background-color: var(--secondary-color);
    transition: 0.1s;
}

.contact .inf-contact {
    width: 350px;
    margin-left: -170px;
}

.contact .inf-contact .localization, .email, .phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact .inf-contact h4 {
    color: var(--primary-color);
}

.contact .inf-contact p {
    color: var(--primary-color);
    font-weight: 300;
    margin-top: -14px;
}

.contact .icon {
    margin-right: 30px;
}

/* footer */
.footer {
    background-color: var(--footer-color2);
}

.footer-top {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    padding-top: 70px;
}

.footer-top h4 {
    color: var(--white-color);
} 

.footer-top p {
    color: var(--white-color);
    font-weight: 300;
    font-size: var(--font-size-footer);
} 

.box-footer {
    width: 300px;
}

.box-footer p {
    line-height: 1.7;
}

.footer-bottom {
    background-color: var(--footer-color1);
    margin-top: 70px;
}

.footer-bottom p {
    padding: 10px;
    font-weight: 300;
    text-align: center;
    color: var(--white-color);
    font-size: var(--font-size-footer);
}

.footer-bottom p span {
    font-weight: 500;
}